<a href="https://colab.research.google.com/github/HilbertN/Tarea1/blob/main/tarea1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [64]:
import numpy as np
import pandas as pd

In [78]:

bd=pd.read_excel("/content/drive/MyDrive/Base de datos/capturas_2015-2020.xlsx")

In [9]:
bd1=pd.read_excel("/content/drive/MyDrive/Base de datos/capturas_2015-2020.xlsx",sheet_name=3)

,Fecha,Latitud,Longitud,Ubicacion,Municipio,Comunidad,Productor,Cultivo,Fenologia,Superficie_ha,No_Trampas_Instaladas,No_Trampas_Revisadas,No_DiaphorinasXtrampa,Mes,Semana
0,2016-01-04,23.31379,-98.95510,177_THUE05-28-019-0030T15,LLERA,EJIDO_PEDRO_JOSE_MENDEZ,MANCILLA_ZEFERINO,NARANJA,DESARROLLO (crecimiento),0.0,0,0,0,1,1
1,2016-01-04,23.27431,-98.86220,177_THUE05-28-019-0089T03,LLERA,EJIDO_COMPUERTAS,VARGAS_OSCAR,NARANJA,DESARROLLO (crecimiento),0.0,0,0,0,1,1
2,2016-01-04,23.31596,-98.95559,177_THUE05-28-019-0030T05,LLERA,EJIDO_PEDRO_JOSE_MENDEZ,MANCILLA_ZEFERINO,NARANJA,DESARROLLO (crecimiento),0.0,0,0,0,1,1
3,2016-01-04,23.27890,-98.87410,177_THUE05-28-019-0098T03,LLERA,EJIDO_COMPUERTAS,VAZQUEZ_CAMACHO_PAULINO,NARANJA,DESARROLLO (crecimiento),0.0,0,0,0,1,1
4,2016-01-04,23.27791,-98.87282,177_THUE05-28-019-0098T06,LLERA,EJIDO_COMPUERTAS,VAZQUEZ_CAMACHO_PAULINO,NARANJA,DESARROLLO (crecimiento),0.0,0,0,0,1,1

In [13]:
bd2=pd.read_excel("/content/drive/MyDrive/Base de datos/capturas_2015-2020.xlsx",sheet_name=6)

###Ejercicio 1

Hacer una gráfica del promedio de Diaphorinas por trampa para cada mes
de los años 2015, 2017,2020. Es decir una gráfica por cada año donde
el eje horizontal esté el mes y el vertical el promedio de diaphorinas por
trampa.

In [107]:
bdc=bd.copy() 
bdc=bdc.dropna()

In [111]:
bdc.head()

,Fecha,Latitud,Longitud,Ubicacion,Municipio,Comunidad,Productor,Cultivo,Fenologia,Superficie_ha,No_Trampas_Instaladas,No_Trampas_Revisadas,No_DiaphorinasXtrampa,Mes,Semana
0,2015-01-22,24.11564,-99.03734,177_THUE05-28-030-0415T01,PADILLA,Ej. Marte R. Gomez,MARTINEZ_ZAMBRANO_ROBERTA,LIMÓN,DESARROLLO (crecimiento),25.0,0.0,1.0,0.0,1.0,4.0
1,2015-01-29,24.11564,-99.03734,177_THUE05-28-030-0415T01,PADILLA,Ej. Marte R. Gomez,MARTINEZ_ZAMBRANO_ROBERTA,LIMÓN,DESARROLLO (crecimiento),25.0,1.0,1.0,0.0,1.0,5.0
2,2015-01-29,24.11562,-99.03560,177_THUE05-28-030-0415T02,PADILLA,Ej. Marte R. Gomez,MARTINEZ_ZAMBRANO_ROBERTA,LIMÓN,DESARROLLO (crecimiento),0.0,1.0,1.0,0.0,1.0,5.0
3,2015-01-22,24.11562,-99.03560,177_THUE05-28-030-0415T02,PADILLA,Ej. Marte R. Gomez,MARTINEZ_ZAMBRANO_ROBERTA,LIMÓN,DESARROLLO (crecimiento),0.0,0.0,1.0,0.0,1.0,4.0
4,2015-01-29,24.11726,-99.03528,177_THUE05-28-030-0415T03,PADILLA,Ej. Marte R. Gomez,MARTINEZ_ZAMBRANO_ROBERTA,LIMÓN,DESARROLLO (crecimiento),0.0,1.0,1.0,0.0,1.0,5.0

In [113]:
bdc.groupby(by='Mes')[bdc.columns.values[12]].mean()

Mes
1.0     0.092308
2.0     0.116510
3.0     0.160865
4.0     0.105462
5.0     0.037114
6.0     0.033045
7.0     0.039220
8.0     0.114808
9.0     0.156186
10.0    0.175519
11.0    0.074683
12.0    0.028856
Name: No_DiaphorinasXtrampa, dtype: float64